<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Oxygen&display=swap" rel="stylesheet">
    <title>Thank you for visiting my portfolio!</title>

    <style>
        html,
        body {
            margin: 0 auto !important;
            padding: 0 !important;
            height: 100% !important;
            width: 100% !important;
            background: #f1f1f1;
        }
    </style>

</head>

<body>

    <div class="head"
        style=" font-family: 'Oswald', sans-serif; text-align:center; width:100%; height: auto; color:rgb(238, 238, 238); background-color: rgb(0, 0, 0);">

        <h2 style="font-size:1.5rem; padding: 40px 0; margin: 0;">Thank you for visiting my portfolio!</h2>

    </div>

    <div class="content"
        style="text-align:center; font-family: 'Oxygen', sans-serif; line-height: 3; font-size:1.1rem; padding: 80px 50px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">

        <p style="margin: 0;">
            Hello {{firstname}}!
        </p>

        <p style="margin: 0;">

            I'm Tarun Karmakar, nice to meet you. I have received your message and I'll get back to you as soon as
            possible.

        </p>

    </div>

    <div class="footer"
        style="text-align:center; height: auto; width:100; background-color:rgb(8, 8, 8);  color:rgb(255, 255, 255)">

        <p style=" padding: 20px 0; margin:0 ">

            &copy; Tarun Karmakar Portfolio

        </p>

    </div>

</body>

</html>